#espresso, #cappuchino, #macchiato, #mocha, #americano, #latte {
  display: block;
  border-style: solid;
  text-align: center;
  width: 150px;
  height: 100px;
  border: 1px solid #fffcfc;
  color: #fffcfc;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  text-transform: uppercase;
}

#btn-close  {
  position: absolute;
    text-align: center;
    cursor:pointer;
    color:#fffcfc;
    border-style: solid;
    width: 55px;
    height: 55px;
    line-height: 57px;
    margin-left: 50px;
    margin-top: 20px;
    /*border-radius: 50px;*/
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    border: 1px solid #fffcfc;
    background-color: transparent;
}



 a {
  text-align: center;
  color: #fffcfc;
  line-height: 100px;
  font-size: 17px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.button1, .button2 {
  display: inline-block;
  border-style: solid;
  text-align: center;
  width: 140px;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  border: 1px solid #fffcfc;
  color: #fffcfc;
  cursor: pointer;
  margin-top: 50px;
}
